/* CSS declarations go here */

@border-width: 1px;
@border-style: solid;
@border-color: #37516a;
@med-blue:#54718f;

html {
  min-height: 100%;
}

body {
  color: #FFF;
  font-family: calibri, Tahoma, sans-serif;
  background: -moz-linear-gradient(top,  #0b293f 0%, #29536d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0b293f), color-stop(100%,#29536d));
  background: -webkit-linear-gradient(top,  #0b293f 0%,#29536d 100%);
  background: -o-linear-gradient(top,  #0b293f 0%,#29536d 100%);
  background: -ms-linear-gradient(top,  #0b293f 0%,#29536d 100%);
  background: linear-gradient(to bottom,  #0b293f 0%,#29536d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b293f', endColorstr='#29536d',GradientType=0 );
}

.thumbnail-head {
  border-bottom: 1px solid #FFF;
  padding: 0.5em;
}

.thumbnail-body {
  padding: 0.5em;
  min-height: 110px;
}

.flow {
  -webkit-column-count: 1;
  -webkit-column-gap: 10px;
  -webkit-column-fill: balance;
  -moz-column-count: 1;
  -moz-column-gap: 10px;
  -moz-column-fill: balance;
  column-count: 1;
  column-gap: 15px;
  column-fill: balance;
}

.flow-item {
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  page-break-inside: avoid;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

@media (min-width: 440px) {
  .flow {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (min-width: 700px) {
  .flow {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 980px) {
  .flow {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}

@media (min-width: 1100px) {
  .flow {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

.checkin {
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #335f8c;
}

.checkin:last-child {
  border-bottom-width: 0px;
}

.preview {
  display: block;
  background-color: #FFF8DC;
  color:#333;
}

.add-checkin, .same-checkin {
  float: right;
  margin: 0 2px;
}

.show-days-option {
  text-align: center;
}