/* CSS declarations go here */

@border-width: 1px;
@border-style: solid;
@border-color: green;

.team-name {
  text-align: center;
}

.outer, .team-day, .team-name, .day-label {
  border-collapse: collapse;
  border: @border-width;
  border-style: @border-style;
  border-color: @border-color;
}

.checkin {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: red;
}

.checkin:last-child {
  border-bottom-width: 0px;
}

.preview {
  display: block;
  background-color: #FFF8DC;
}

.add-checkin, .cancel-checkin {
  cursor: pointer;
}
